#header_phone {
  text-align: left;
  padding: 12px;
  color: white;
}
#main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#footer_phone {
  clear: both;
  height: 3em;
  margin: 0;
  padding: 1em;
  text-align: center;
  background: gray;
  color: #FFFFFF;
}
/* Navigation */
navigation {
  float: left;
  width: 90%;
  height: 100%;
  background: #EFEFEF;
}
#customers {
  border-collapse: collapse;
  width: 100%;
}
#customers th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #666666;
  color: white;
}
#customers td, #customers th {
border: 1px solid #ddd;
padding: 5px;
}
#customers td a, #customers th a {
color: black;
text-decoration: none;
}
#customers td a:hover, #customers th a:hover {
text-decoration: underline;
}
#customers tr:nth-child(even){
background-color: #f2f2f2;

}
#customers tr:hover {background-color: #ddd;}
#page {
  float: right;
  width: 20%;
  height: 100%;
  vertical-align: middle;
  padding: 8px;
}
#content {
  height: 100%;
  padding: 12px;
  padding: 8px;
}


